Gameplay/Library
Gameplay/Temp
Gameplay/Logs
Gameplay/UserSettings
Gameplay/.vsconfig
Gameplay/Gameplay.sln
Gameplay/Assembly-CSharp.csproj
Gameplay/Assembly-CSharp-Editor.csproj
Gameplay/obj
Gameplay/.vs
